*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* tools */
.debug{
    border: solid green;
    background-color: rgba(255, 0, 0, .25);
}
/* /tools */

.container{
    margin: 0 215px;
}

/* header */

header .container{
    display: flex;
    height: 80px; 
    align-items: flex-start;
    justify-content: space-between;
    align-items: center ;
}

.logo-image{
    width: 125px;
    height: 33px;
}

header ul{
    display: flex;
    list-style: none;
}

/* /header */

/* jumbotron */

.jumbotron{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 545px;
}

.jumbotron h1{
    width: 600px;
    height: 50px;
}

.jumbotron .text{
    width: 775px;
    height: 100px;
}
/* /jumbotron */

/* main */
/* /main */

/* footer */
footer{
    height: 667px;
}

footer .container{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

#top-right-footer{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px;
}

#top-right-footer ul{
    list-style: none;
    padding: 15px;
    width:200px;
}

#top-left-footer{
    width: 235px;
    height: 160px;
}

/* /footer */